<% provide(:title,'Messages') %>
<%= render 'shared/list' %>

<div class="maincontent">
	<h2>
		All Messages <small style="color:#26abe2;"> (<%= @messages.count %>)</small>
		<% if @messages.count > 0 %>
			<%= link_to all_messages_delete_path, method: :delete ,class:'delete_all_message' do %>
				<span class="fa fa-trash fw"></span>
			<% end %>
		<% end %>
	</h2>
	<ul class="post-list">
		<% if @messages.count > 0 %>
			<% @messages.each do |message| %>
				<li>
					<h3>
						<%= link_to message.name,'#',style: 'color:#26abe2;' %> 
						<%= link_to message.email,message_path(message) %>
					</h3>
					<span><%= time_now(message.created_at) %></span>
					<p><%= truncate(message.content,length:140,separate: '') %></p>
					<div class="control">
						<%= link_to '已阅','#',class: 'edit' %>
						<%= link_to 'Delete',message_path(message),method: :delete,data:{confirm:"你确定要删除这封信息吗?"},class:'destroy' %>
					</div>
				</li>
			<% end %>
		<% else %>
			<h3 style="background-color: #ccc;border-radius: 4px; padding: 10px 20px;">暂无信息.</h3>
		<% end %>
	</ul>
	<%= will_paginate %>
</div>