<% provide(:title,'MyProfile') %>
<div class="list">
	<ul>
		<li>
			<%= current_user.admin ? image_tag "pic.jpg" : image_tag "user.jpg" %>
		</li>
		<li>
			<span class="category">Some of My Data</span>
			<ul>
				<li><a>Name: <%= @user.name %></a></li>
				<li><a><%= @user.email %></a></li>
				<li><%= link_to 'Edit Profile',edit_user_path(@user),class: 'btn' %></li>
			</ul>
		</li>
	</ul>
</div>
<div class="maincontent">
	<h2>Some of My Data</h2>
	<div class="introduce">
		<h3>Account Type: <strong style="color:#26abe2;"">Administrator</strong></h3>
		<p><strong>The following are all my historical reviews<br>以下是我全部的历史评论</strong>
		</p>
		<ul style="padding-left:0;">
			<li>
				<div class="comments">
					<% @user.comments.each.with_index do |c,index| %>
					<div class="comment_c">
						<div class="left_img">
							<%= image_tag("#{img_chose(c)}") %>
						</div>
						<div class="right_data">
							<div>
								<p>For: <strong><%= link_to c.post.try(:title),post_path(c.post),class: 'time' %></strong> 
									<span class="reply_button">回复</span> 
									<% if c.replies.count > 0 %>
										<span class="reply_list_button">查看回复</span>
									<% end %>
								</p>
								<p class="data_c"><%= c.content %></p>
							</div>
							<%= render 'shared/reply_list', c: c %>
						</div>
					</div>
					<% end %>
				</div>
			</li>
		</ul>
	</div>
</div>