<% provide(:title,'Blog') %>
<div class="list">
	<ul class="left">
		<li>
			<span class="category">System Classification</span>
			<ul>
				<li><a href="#">All Posts</a></li>
				<li><a href="#">Html&Css</a></li>
				<li><a href="#">Javascript</a></li>
				<li><a href="#">Ruby on Rails</a></li>
				<li><a href="#">React Native</a></li>
			</ul>
		</li>
		<li>
			<span class="category">Sorting of Posts</span>
			<ul>
				<li><%= link_to 'Desc of Time(倒序)', root_path(:order => 'desc') %></li>
				<li><%= link_to 'Asc of Time(正序)', root_path(:order => 'asc') %></li>
			</ul>
		</li>
	</ul>
</div>
<div class="maincontent">
	<h2>All Posts</h2>
	<ul class="post-list">
		<% @posts.each do |post| %>
			<li>
				<h3>
					<%= link_to truncate(post.title,length:30,separate:''),post_path(post) %>
					<%= link_to 'Ruby on Rails','#',class: 'category' %>
				</h3>
				<span><%= post.created_at %></span>
				<span> | <%= post.publish %></span>
				<p><%= truncate(strip_tags(post.content),length:140,separate: '') %></p>
			</li>
		<% end %>
	</ul>
	<%= will_paginate @posts %>
</div>
