<div class="list">
	<ul class="left">
		<li>
			<span class="category">Post's Structure</span>
			<ul>
				<li><a class="localtion" id='title'>Post's Title</a></li>
				<li><a class="localtion" id='data'>Post's Data</a></li>
				<li><a class="localtion" id='content'>Post's Content</a></li>
			</ul>
		</li>
		<li>
			<span class="category">Post's Comments</span>
			<ul>
				<li><a class="localtion" id='comment_w'>Comments' content</a></li>
				<li><a class="localtion" id='comment_d'>Comment</a></li>
			</ul>
		</li>
	</ul>
</div>
<div class="maincontent">
	<h2 id="title_l"><%= @post.title %></h2>
	<div class="post">
		<p id='data_l'><span><%= @post.user.try(:name) %></span><span>Date: <%= @post.created_at %></span></p>
		<p id="content_l">
			<div>
				<%= @post.content.html_safe %>
			</div>
		</p>
	</div>
	<h2 id="comment_w_l" style="font-size: 2rem;">The comments of the Post</h2>
	<div class="comments">
		<% @post.comments.each.with_index do |c,index| %>
		<div class="comment_c">
			<div class="left_img">
				<%= image_tag("#{img_chose(c)}") %>
			</div>
			<div class="right_data">
					<div>
						<p>Floor: <%= index+1 %> <span class="time"><%= time_now(c.created_at) %></span></p>
						<p>
							<strong><%= c.user.try(:name) %></strong> 
							<span class="reply_button">回复</span> 
							<% if c.replies.count > 0 %>
								<span class="reply_list_button">查看回复</span>
							<% end %>
						</p>
						<p class="data_c"><%= c.content %></p>
					</div>
				<%= render 'shared/reply_list', c: c %>
			</div>
		</div>
		<% end %>
	</div>
	<h2 id="comment_d_l" style="font-size: 2rem;">To Comment</h2>
	<div class="comment">
		<%= form_for @comment, url: comments_url do |f| %>
			<%= f.text_area :content, placeholder:'请输入您的评论内容' %>
			<%= f.hidden_field :post_id, value: @post.id %>
			<%= f.submit  value: '评论提交' %>
		<% end %>
	</div>
</div>