<header class="font">
	<nav>
		<div class="container clear">
			<div class="logo">
				<a href="#"><h1><span style="color: #26abe2;">Want</span>ing</h1></a>
			</div>
			<div class="mobile-button">
				<button><span class="fa fa-bars"></span></button>
			</div>
			<div class="link clear">
				<div class="navbar">
					<ul class="clear">
						<li><%= link_to 'Blog', root_path %></li>
						<li><%= link_to 'About', about_path %></li>
						<li><%= link_to 'Contact', contact_path %></li>
					</ul>
				</div>
				<div class="dropmenu">
					<ul class="clear">
						<li>
							<% if logged_in? %>
								<a class="DownButton">My Account <span class="fa fa-angle-down" style="padding-left: 10px;"></span></a>
								<ul class="downmenu">
									<li><%= link_to 'My Profile',current_user %></li>
									<li><%= link_to 'My All Post', posts_path %></li>
									<% if current_user.admin? %>
										<li><%= link_to 'To Dashboard',dashboard_index_path %></li>
									<% end %>
									<hr style="width: 95%; background-color: #f0f0f0; border-color: transparent;">
									<li><%= link_to 'Log Out',logout_path,method: :delete %></li>
								</ul>
							<% else %>
								<%= link_to 'Login / SignUp', login_path,class: 'DownButton'%>
							<% end %>
							
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div class="word font">
		<div class="container">
			<h2>
				I am <strong>Wanting</strong> to be closer to perfection...
			</h2>
		</div>
	</div>
</header>